<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <appSettings>
        <!-- 請在這裡填入你他娘的 Google Sheet ID -->
        <add key="GoogleSpreadsheetId" value=""/>
        <!-- 把你他媽的憑證檔案名稱 (建議放在程式執行檔同一個目錄下) -->
        <add key="GoogleCredentialPath" value="credentials.json"/>
    </appSettings>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
	</startup>
</configuration>